

@import url('./photo-grid__list/__list.css');


.photo-grid {
    padding-top: 76px;
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        max-width: 100%;
        margin: auto;
        
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 100%;
        padding: 9.96vw 0 0 0;
    }
}

@media screen and (max-width: 769px) {
    .photo-grid {
        max-width: 100%;
        padding: 0 0 64px 0;
    }
}

@media screen and (max-width: 426px) {
    .photo-grid {
        padding: 0 0 64px 0;
    }
}

