



.video__subtitle {
    font-size: 14px;
    line-height: 15px;
    margin: 0 0 30px 30px;
}

@media screen and (max-width: 1024px) {
    .video__subtitle {
        font-size: 1.37vw;
        line-height: 1.46vw;
        margin: 0 0 3.125vw 2.93vw;
    }
}

@media screen and (max-width: 769px) {
    .video__subtitle {
        font-size: 1.82vw;
        line-height: 1.9vw;
        margin: 0 0 3.125vw 3.125vw;
    }
}

@media screen and (max-width: 426px) {
    .video__subtitle {
        font-size: 14px;
        line-height: 15px;
        margin: 0 0 5vw 5vw;
    }
}

