

.cover__title {
    width: 1094px;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .cover__title {
        max-width: 85%;
        font-size: 7.03vw;
        line-height: 7.62vw;
        text-align: center;
    }
}

@media screen and (max-width:769px) {
    .cover__title {
        max-width: 91%;
        font-size: 9.37vw;
        line-height: 10.15vw;
        text-align: center;
    }
}

@media screen and (max-width:426px) {
    .cover__title {
        max-width: 91%;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }
}
@media screen and (max-width:376px) {
    .cover__title {
        max-width: 91%;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin: 11vw 0 0 0;
    }
}


