

@import url(./video__title/video__title.css);
@import url(./video__subtitle/video__subtitle.css);
@import url(./video__ikon_play/video__ikon_play.css);
@import url(./video__duration/video__duration.css);


.video__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} 

.video_left {
    width: 583px;
    height: 323px;
    background-image: url(./image/__item-bg\ .jpg);
    background-size: cover;
    border-radius: 7px; 
}
.video_right {
    width: 583px;
    height: 323px;
    background-image: url(./image/__item-bg1.jpg);
    background-size: cover;
    border-radius: 7px;
}
.video_left {
    opacity: 1;
    transition-property: opacity;
}
.video_left:hover {
    opacity: 0.8;
}
.video_right {
    opacity: 1;
    transition-property: opacity;
}
.video_right:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1280px) {
    .video_left {
        width: 45.5vw;
        height: 25.3vw;
    }
    .video_right {
        width: 44.54vw;
        height: 25.3vw;
        margin-left: 1.4vw;
    }

}

@media screen and (max-width: 1024px) {
    .video__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: auto;
    } 
    
    .video_left {
        width: 44.54vw;
        height: 28.13vw;
        background-image: url(./image/__item-bg\ .jpg);
        background-size: cover;
        border-radius: 7px;
    }
    .video_right {
        width: 44.54vw;
        height: 28.13vw;
        background-image: url(./image/__item-bg1.jpg);
        background-size: cover;
        border-radius: 7px;
    }

    .video_left {
        opacity: 1;
        transition-property: opacity;
    }
    .video_left:hover {
        opacity: 0.8;
    }
    .video_right {
        opacity: 1;
        transition-property: opacity;
    }
    .video_right:hover {
        opacity: 0.8;
    }
}

@media screen and (max-width: 769px) {
    .video__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: auto;
    } 
    
    .video_left {
        width: 45.83vw;
        height: 26vw;
        background-image: url(./image/__item-bg\ .jpg);
        background-size: cover;
        border-radius: 7px;
    }
    .video_right {
        width: 45.83vw;
        height: 26vw;
        background-image: url(./image/__item-bg1.jpg);
        background-size: cover;
        border-radius: 7px;
    }

    .video__item:first-of-type {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 426px) {
    .video__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: auto;
    } 
    
    .video_left {
        width: 91%;
        height: calc((100vw/4) + 110px);
        background-image: url(./image/__item-bg\ .jpg);
        background-size: cover;
        border-radius: 7px;
    }
    .video_right {
        width: 91%;
        height: calc((100vw/4) + 110px);
        background-image: url(./image/__item-bg1.jpg);
        background-size: cover;
        border-radius: 7px;
    }

    .video__item:first-of-type {
        margin-bottom: 8px;
    }
}

