



.comments__image {
    max-width: 100px;
    border-radius: 50%; 
    margin-bottom: 42px;
}

@media screen and (max-width: 1024px) {
    .comments__image {
        max-width: 9.77vw;
        border-radius: 50%; 
        margin-bottom: 0;
        margin-left: calc(50% - 4.86vw);
    }
}

@media screen and (max-width: 769px) {
    .comments__image {
        max-width: 13.02vw;
        border-radius: 50%; 
        margin-bottom: 0;
        margin-left: calc(50% - 6.51vw);
    }
}

@media screen and (max-width: 426px) {
    .comments__image {
        max-width: 100px;
        border-radius: 50%; 
        margin-bottom: 0;
        margin-left: calc(50% - 50px);
    }
}

